* {
  padding: 5px;
}

header h1{
  background-color: none;
  align-items: center;
  font-size: 60px;
}
.row-today-weather {
  align-items: right;
  
}
h1 {
  align-items: center;
  color: burlywood;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  padding: 15px;
}
.col-4 .col-8 {
  padding-left: 15px;
}

.search-bar {
  align-items: center;
  margin-left: 10px;
}
.jumbotron {
  height: 50%;
  font-size: 50px;
  background-color: royalblue;
  font-family: "Mulish", sans-serif;
  text-align: center;
}
.card {
  width: 100%;
}
.fiveDay {
  background-color: royalblue;
  margin: 15px;
}
h3 {
  float: left;
  color: brown;
}
#city {
  padding-left: 10px;
}

